*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefae0;
}


/* custom properties declaration */

/* hero */

.content-wrapper {
    margin: 3rem;
}
.logo {
    box-shadow: rgba(199, 197, 196, 0.349) 0px 10px 15px;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(224, 223, 223);
    padding: 1rem;
}

.logo>h3 {
    font-family: 'kalam',cursive;
    font-size: 2rem;
    color:#010849;
    

    /* outline: 3px solid red; */
     
}

.logo>h3>a {
    text-decoration: none;
}


/* *********************Hero section*********** */

.img-wrapper {
    background-image: url("https://images2.imgbox.com/cd/ee/9ZyrWApc_o.png");
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    width: 100%;
}

/******************************* progress-bar ************/

.Ac,
.dc,
.elect,
.jan {

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 

.Ac,
.dc,
.elect,
.jan {
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.progress-container{
    width: 100%;
    height: 2rem;
    background-color: tomato;
    border-radius: 10px;
    margin-top: 1rem;

}



.progress-bar{
    width: 0%;
    height: 2rem;
    background-color: #abc270;
    border-radius: 10px;
    
}

.progress-bar-2 {
    width: 0%;
}

.progress-bar-3 {
    width: 0%;
}

.progress-bar-4 {
    width: 0%;
}
table {
    margin-top: 2rem;
    margin-left: 2rem;
    border-collapse: collapse;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

.table {
    display: flex;
    justify-content: center;
}

tr:hover{
    background-color: #f9ebc7;
}

th {
    background-color: #c4661f;
}

 th,td {
    padding: 1rem;
    border: 1px solid black;
}

/*************FILL IN DETAILS ABOVE HERE*********************/
#LG0121 {
    background-color: #abc270;
}


/************FILL ONLY ABOVE HERE****************************/

footer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center; 
    height: 2rem;

    margin-top: 3rem;
}

.footer>p {
    margin-top: 1rem;
}

.back {
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.back a {
    text-decoration: none;
}

.arrow {
    margin: 3px;
}

@media screen and (max-width: 450px) {
    table,th,td  {
        padding: 4px;
        margin: 0;
    }

}

@media screen and (min-width: 800px) {
    table {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .page-container {
        display: flex;
    }

    .progress {
        width: 50%;
    }

    .table {
        width: 50%;
    }
}

